In [1]:
import pandas as pd
import numpy as np

from datasource import *

# pandas， swifter 加速
# pip install swifter 
# pip install swifter[groupby]

In [2]:
def agg_ticks_to_klines(source_df: pd.DataFrame, target_interval='5S'):
    # 确保'time'列是datetime类型
    source_df['datetime'] = pd.to_datetime(source_df['datetime'])

    # 将标的和时间作为分组关键字，使用groupby聚合
    grouped_df = source_df.groupby(['code', pd.Grouper(key='datetime', freq=target_interval)])

    # 对每个分组应用聚合操作，例如计算OHLC和总成交量
    kline_df = grouped_df.agg({
        'price': ['first', 'max', 'min', 'last'],  # open, high, low, close
        'volume': 'sum'
    })

    # 重置索引，将分组关键字还原为列
    kline_df = kline_df.reset_index()

    # 打印结果
    print(kline_df)

    return kline_df

In [3]:
code_list = [
    ['518880.XSHG','518880.XSHG'], #黄金ETF  518880 159934
    ['513100.XSHG','159941.XSHG'], #纳指ETF  159941 513100 
    ['399006.XSHE','159915.XSHE'], #创业板 159915 399006 159915 159952 512900
    # ['513050.XSHG','159607.XSHG'], #中概互联 ETF 513050 159607
    # ['399673.XSHE','159949.XSHE'], #创业板50 399673 159949
    ['000016.XSHG','510050.XSHG'], #上证50 000016 510050 510710 510850
    # ['000300.XSHG','510300.XSHG'], #沪深300
    # ['000905.XSHG','510500.XSHG'] #中证500
    # ['399975.XSHE','399975.XSHE'], #证劵公司 399975 512880 512000 512900
    # ['399987.XSHE','399987.XSHE'], #中证酒
    # ['399932.XSHE','159928.XSHE'], #消费ETF
    # ['000913.XSHG','000913.XSHG'], #300医药 000913 399913 000913
    # ['515000.XSHG','515000.XSHG'], #科技 515000
    # ['000015.XSHG','510880.XSHG'], #红利ETF
]

code_list_ = [l[1].split(".")[0] for l in code_list]

def get_source_df():
    fund_etf_hist_min_em_df = fund_etf_hist_min_em(
        symbol = code_list_[2],
        period="1",
        adjust="qfq",
        start_date="2024-01-02 09:30:00",
        end_date="2024-01-08 15:00:00",
    )

    fund_etf_hist_min_em_df.columns = [
        "date",
        "open",
        "close",
        "high",
        "low",
        "volume",
        "amount",
        "price",
    ]

    source_df = fund_etf_hist_min_em_df
    source_df["date"] = pd.to_datetime(source_df["date"])
    # source_df = fund_etf_hist_min_em_df.set_index(["date"], drop=True, inplace=False)
    print(source_df)
    return source_df

# source_df = get_source_df()

In [4]:
def tick_data_mock(code):
    # 设置交易时间范围
    trading_hours_1 = pd.date_range("2024-01-01 09:30:00", "2024-01-01 11:30:00", freq='S')
    trading_hours_2 = pd.date_range("2024-01-01 13:00:00", "2024-01-01 15:00:00", freq='S')
    trading_hours = trading_hours_1.union(trading_hours_2)

    # 生成tick数据
    tick_data = pd.DataFrame({
        'datetime': trading_hours,
        'code': [code] * len(trading_hours),
        'price': np.random.rand(len(trading_hours)) * 10 + 100,  # 生成随机价格，假设在100到110之间
        'volume': np.random.randint(1, 100, size=len(trading_hours))  # 生成随机成交量
    })

    # 打印生成的tick数据
    print(tick_data)
    return tick_data

def tick_data_list_mock():
    df = pd.concat([tick_data_mock(code=code) for code in code_list_])
    return df

In [5]:
df_all = tick_data_list_mock()

                 datetime    code       price  volume
0     2024-01-01 09:30:00  518880  104.820917      29
1     2024-01-01 09:30:01  518880  108.129601      64
2     2024-01-01 09:30:02  518880  100.916099      15
3     2024-01-01 09:30:03  518880  107.842745      76
4     2024-01-01 09:30:04  518880  106.521618      43
...                   ...     ...         ...     ...
14397 2024-01-01 14:59:56  518880  105.825826      61
14398 2024-01-01 14:59:57  518880  109.858508      86
14399 2024-01-01 14:59:58  518880  106.236324      73
14400 2024-01-01 14:59:59  518880  102.979709      97
14401 2024-01-01 15:00:00  518880  100.784758       1

[14402 rows x 4 columns]
                 datetime    code       price  volume
0     2024-01-01 09:30:00  159941  103.758102      30
1     2024-01-01 09:30:01  159941  105.833534      33
2     2024-01-01 09:30:02  159941  101.492909      84
3     2024-01-01 09:30:03  159941  104.753024      47
4     2024-01-01 09:30:04  159941  101.578283      58
...                   ...     ...         ...     ...
14397 2024-01-01 14:59:56  159941  109.374885      80
14398 2024-01-01 14:59:57  159941  101.815589       7
14399 2024-01-01 14:59:58  159941  104.285910      17
14400 2024-01-01 14:59:59  159941  101.060121      88
14401 2024-01-01 15:00:00  159941  102.623385      64

[14402 rows x 4 columns]
                 datetime    code       price  volume
0     2024-01-01 09:30:00  159915  108.281930      73
1     2024-01-01 09:30:01  159915  107.237107      40
2     2024-01-01 09:30:02  159915  104.151050      61
3     2024-01-01 09:30:03  159915  106.923889      20
4     2024-01-01 09:30:04  159915  105.755330       4
...                   ...     ...         ...     ...
14397 2024-01-01 14:59:56  159915  101.341659      15
14398 2024-01-01 14:59:57  159915  105.794484      12
14399 2024-01-01 14:59:58  159915  108.862208      39
14400 2024-01-01 14:59:59  159915  105.125671      42
14401 2024-01-01 15:00:00  159915  105.229317      63

[14402 rows x 4 columns]
                 datetime    code       price  volume
0     2024-01-01 09:30:00  510050  109.384947      19
1     2024-01-01 09:30:01  510050  101.891807      43
2     2024-01-01 09:30:02  510050  106.647071      27
3     2024-01-01 09:30:03  510050  103.474514      82
4     2024-01-01 09:30:04  510050  100.891558      85
...                   ...     ...         ...     ...
14397 2024-01-01 14:59:56  510050  107.810585      34
14398 2024-01-01 14:59:57  510050  102.487717       2
14399 2024-01-01 14:59:58  510050  100.679560      60
14400 2024-01-01 14:59:59  510050  100.433971      11
14401 2024-01-01 15:00:00  510050  108.864708      99

[14402 rows x 4 columns]

In [6]:
new_5s_df_all = agg_ticks_to_klines(df_all)

         code            datetime       price                          \
                                        first         max         min
0      159915 2024-01-01 09:30:00  108.281930  108.281930  104.151050
1      159915 2024-01-01 09:30:05  106.972438  106.972438  103.032018
2      159915 2024-01-01 09:30:10  100.986174  109.697448  100.986174
3      159915 2024-01-01 09:30:15  109.268868  109.268868  102.906309
4      159915 2024-01-01 09:30:20  101.440198  107.259539  101.149417
...       ...                 ...         ...         ...         ...
11523  518880 2024-01-01 14:59:40  109.027898  109.803560  101.416578
11524  518880 2024-01-01 14:59:45  106.623890  108.217638  101.008764
11525  518880 2024-01-01 14:59:50  103.086865  108.896717  103.086865
11526  518880 2024-01-01 14:59:55  103.614110  109.858508  102.979709
11527  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

                  volume
             last    sum
0      105.755330    198
1      104.357204    204
2      109.697448    265
3      107.417859    242
4      104.686178    320
...           ...    ...
11523  109.803560    187
11524  108.217638    196
11525  107.512691    233
11526  102.979709    379
11527  100.784758      1

[11528 rows x 7 columns]

In [35]:
from data_repo_v1 import get_new_cycle_records

new_5s_df_all.columns = [
    "code",
    "date",
    "open",
    "high",
    "low",      
    "close",
    "volume",
]

def agg_klines_to_klines_v1(df_all, target_cycle = 60 * 1000):
    """
    df_all 5s kline
    """
    df_all['date'] = pd.to_datetime(df_all['date'])

    
    # 将标的和时间作为分组关键字，使用groupby聚合
    # grouped_df = source_df.groupby(['code', pd.Grouper(key='datetime', freq=target_interval)])

    # 对每个分组应用聚合操作，例如计算OHLC和总成交量
    # kline_df = grouped_df.agg({
    #     'price': ['first', 'max', 'min', 'last'],  # open, high, low, close
    #     'volume': 'sum'
    # })


    grouped_df = df_all.groupby(['code'])
    # new_1m_df = get_new_cycle_records(new_5s_df_all, target_cycle=1000*60)
    def sub_klines_to_klines(df):
        print(df)
        return get_new_cycle_records(df, target_cycle=target_cycle)
    kline_df_all = grouped_df.apply(sub_klines_to_klines)

    # 重置索引，将分组关键字还原为列
    kline_df_all = kline_df_all.reset_index()

    # 打印结果
    print(kline_df_all)

    return kline_df_all

def agg_klines_to_klines_v2(df_all, freq = "15S"):
    """
    df_all to  freq 15s kline
    """

    df_all.columns = [
        "code",
        "datetime",
        "open",
        "high",
        "low",      
        "close",
        "volume",
    ]
    df_all['datetime'] = pd.to_datetime(df_all['datetime'])

    
    # 将标的和时间作为分组关键字，使用groupby聚合
    grouped_df = df_all.groupby(['code', pd.Grouper(key='datetime', freq=freq)])

    # 对每个分组应用聚合操作，例如计算OHLC和总成交量
    kline_df_all = grouped_df.agg({
        "open": "first",
        "high": "max",
        "low": "min",      
        "close": "last",
        # 'price': ['first', 'max', 'min', 'last'],  # open, high, low, close
        'volume': 'sum'
    })


    # grouped_df = df_all.groupby(['code'])
    # # new_1m_df = get_new_cycle_records(new_5s_df_all, target_cycle=1000*60)
    # def sub_klines_to_klines(df):
    #     print(df)
    #     return get_new_cycle_records(df, target_cycle=target_cycle)
    # kline_df_all = grouped_df.apply(sub_klines_to_klines)

    # 重置索引，将分组关键字还原为列
    kline_df_all = kline_df_all.reset_index()

    # 打印结果
    print(kline_df_all)

    return kline_df_all

In [33]:
new_15s_df = agg_klines_to_klines_v1(new_5s_df_all, target_cycle=1000*15)

        code                date        open        high         low  \
0     159915 2024-01-01 09:30:00  108.281930  108.281930  104.151050
1     159915 2024-01-01 09:30:05  106.972438  106.972438  103.032018
2     159915 2024-01-01 09:30:10  100.986174  109.697448  100.986174
3     159915 2024-01-01 09:30:15  109.268868  109.268868  102.906309
4     159915 2024-01-01 09:30:20  101.440198  107.259539  101.149417
...      ...                 ...         ...         ...         ...
2877  159915 2024-01-01 14:59:40  104.960517  109.462693  101.638793
2878  159915 2024-01-01 14:59:45  100.108100  109.937868  100.108100
2879  159915 2024-01-01 14:59:50  102.364260  106.537088  101.181140
2880  159915 2024-01-01 14:59:55  109.789644  109.789644  101.341659
2881  159915 2024-01-01 15:00:00  105.229317  105.229317  105.229317

           close  volume
0     105.755330     198
1     104.357204     204
2     109.697448     265
3     107.417859     242
4     104.686178     320
...          ...     ...
2877  101.638793     263
2878  103.811367     193
2879  101.181140     248
2880  105.125671     198
2881  105.229317      63

[2882 rows x 7 columns]
        code                date        open        high         low  \
2882  159941 2024-01-01 09:30:00  103.758102  105.833534  101.492909
2883  159941 2024-01-01 09:30:05  103.658081  104.039264  101.598400
2884  159941 2024-01-01 09:30:10  108.819096  109.062492  103.035718
2885  159941 2024-01-01 09:30:15  102.841930  106.060306  102.841930
2886  159941 2024-01-01 09:30:20  100.433843  103.167235  100.008762
...      ...                 ...         ...         ...         ...
5759  159941 2024-01-01 14:59:40  107.621653  109.648285  101.065494
5760  159941 2024-01-01 14:59:45  103.216345  108.493301  103.216345
5761  159941 2024-01-01 14:59:50  108.470554  109.816078  100.851004
5762  159941 2024-01-01 14:59:55  103.645708  109.374885  101.060121
5763  159941 2024-01-01 15:00:00  102.623385  102.623385  102.623385

           close  volume
2882  101.578283     252
2883  103.406804     137
2884  109.062492     236
2885  106.060306     219
2886  100.008762     248
...          ...     ...
5759  101.065494     213
5760  103.748746     278
5761  109.612498     107
5762  101.060121     281
5763  102.623385      64

[2882 rows x 7 columns]
        code                date        open        high         low  \
5764  510050 2024-01-01 09:30:00  109.384947  109.384947  100.891558
5765  510050 2024-01-01 09:30:05  105.258655  108.869010  102.821150
5766  510050 2024-01-01 09:30:10  101.045894  109.784158  101.045894
5767  510050 2024-01-01 09:30:15  105.847123  109.570577  100.555888
5768  510050 2024-01-01 09:30:20  108.354756  109.150195  101.315761
...      ...                 ...         ...         ...         ...
8641  510050 2024-01-01 14:59:40  105.834630  106.824665  100.545803
8642  510050 2024-01-01 14:59:45  108.695188  109.164795  100.671160
8643  510050 2024-01-01 14:59:50  102.258368  109.074757  100.699939
8644  510050 2024-01-01 14:59:55  108.909012  108.909012  100.433971
8645  510050 2024-01-01 15:00:00  108.864708  108.864708  108.864708

           close  volume
5764  100.891558     256
5765  102.821150     144
5766  101.617751     180
5767  101.016135     204
5768  103.564572     188
...          ...     ...
8641  105.155183     243
8642  107.075259     238
8643  105.184776     297
8644  100.433971     116
8645  108.864708      99

[2882 rows x 7 columns]
         code                date        open        high         low  \
8646   518880 2024-01-01 09:30:00  104.820917  108.129601  100.916099
8647   518880 2024-01-01 09:30:05  103.969706  109.317349  102.052533
8648   518880 2024-01-01 09:30:10  104.844549  105.726448  100.058603
8649   518880 2024-01-01 09:30:15  108.161848  108.161848  101.728979
8650   518880 2024-01-01 09:30:20  104.869339  106.370148  100.709648
...       ...                 ...         ...         ...         ...
11523  518880 2024-01-01 14:59:40  109.027898  109.803560  101.416578
11524  518880 2024-01-01 14:59:45  106.623890  108.217638  101.008764
11525  518880 2024-01-01 14:59:50  103.086865  108.896717  103.086865
11526  518880 2024-01-01 14:59:55  103.614110  109.858508  102.979709
11527  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

            close  volume
8646   106.521618     227
8647   107.112448     144
8648   104.224244     319
8649   104.344640     308
8650   100.709648     240
...           ...     ...
11523  109.803560     187
11524  108.217638     196
11525  107.512691     233
11526  102.979709     379
11527  100.784758       1

[2882 rows x 7 columns]
        code  level_1                date        open       close        high  \
0     159915        0 2024-01-01 09:30:00  108.281930  109.697448  109.697448
1     159915        1 2024-01-01 09:30:15  109.268868  106.767949  109.268868
2     159915        2 2024-01-01 09:30:30  109.918832  101.061850  109.918832
3     159915        3 2024-01-01 09:30:45  106.676883  106.293320  109.217639
4     159915        4 2024-01-01 09:31:00  106.189841  101.541890  109.916247
...      ...      ...                 ...         ...         ...         ...
3839  518880      956 2024-01-01 14:58:55  109.964771  104.501335  109.964771
3840  518880      957 2024-01-01 14:59:10  104.494519  104.796209  109.589830
3841  518880      958 2024-01-01 14:59:25  109.784511  108.991164  109.784511
3842  518880      959 2024-01-01 14:59:40  109.027898  107.512691  109.803560
3843  518880      960 2024-01-01 14:59:55  103.614110  100.784758  109.858508

             low  volume
0     100.986174     667
1     101.149417     909
2     101.006673     898
3     101.757676     661
4     101.097781     601
...          ...     ...
3839  100.571175     866
3840  100.960637     836
3841  100.742289     941
3842  101.008764     616
3843  100.784758     380

[3844 rows x 8 columns]

In [14]:
new_15s_df

,code,level_1,date,open,close,high,low,volume
0,159915,0,2024-01-01 09:30:00,108.281930,109.697448,109.697448,100.986174,667
1,159915,1,2024-01-01 09:30:15,109.268868,106.767949,109.268868,101.149417,909
2,159915,2,2024-01-01 09:30:30,109.918832,101.061850,109.918832,101.006673,898
3,159915,3,2024-01-01 09:30:45,106.676883,106.293320,109.217639,101.757676,661
4,159915,4,2024-01-01 09:31:00,106.189841,101.541890,109.916247,101.097781,601
...,...,...,...,...,...,...,...,...
3839,518880,956,2024-01-01 14:58:55,109.964771,104.501335,109.964771,100.571175,866
3840,518880,957,2024-01-01 14:59:10,104.494519,104.796209,109.589830,100.960637,836
3841,518880,958,2024-01-01 14:59:25,109.784511,108.991164,109.784511,100.742289,941
3842,518880,959,2024-01-01 14:59:40,109.027898,107.512691,109.803560,101.008764,616
3843,518880,960,2024-01-01 14:59:55,103.614110,100.784758,109.858508,100.784758,380

In [28]:
new_5m_df = agg_klines_to_klines_v1(new_5s_df_all, target_cycle=1000*60*5)

        code                date        open        high         low  \
0     159915 2024-01-01 09:30:00  108.281930  108.281930  104.151050
1     159915 2024-01-01 09:30:05  106.972438  106.972438  103.032018
2     159915 2024-01-01 09:30:10  100.986174  109.697448  100.986174
3     159915 2024-01-01 09:30:15  109.268868  109.268868  102.906309
4     159915 2024-01-01 09:30:20  101.440198  107.259539  101.149417
...      ...                 ...         ...         ...         ...
2877  159915 2024-01-01 14:59:40  104.960517  109.462693  101.638793
2878  159915 2024-01-01 14:59:45  100.108100  109.937868  100.108100
2879  159915 2024-01-01 14:59:50  102.364260  106.537088  101.181140
2880  159915 2024-01-01 14:59:55  109.789644  109.789644  101.341659
2881  159915 2024-01-01 15:00:00  105.229317  105.229317  105.229317

           close  volume
0     105.755330     198
1     104.357204     204
2     109.697448     265
3     107.417859     242
4     104.686178     320
...          ...     ...
2877  101.638793     263
2878  103.811367     193
2879  101.181140     248
2880  105.125671     198
2881  105.229317      63

[2882 rows x 7 columns]
        code                date        open        high         low  \
2882  159941 2024-01-01 09:30:00  103.758102  105.833534  101.492909
2883  159941 2024-01-01 09:30:05  103.658081  104.039264  101.598400
2884  159941 2024-01-01 09:30:10  108.819096  109.062492  103.035718
2885  159941 2024-01-01 09:30:15  102.841930  106.060306  102.841930
2886  159941 2024-01-01 09:30:20  100.433843  103.167235  100.008762
...      ...                 ...         ...         ...         ...
5759  159941 2024-01-01 14:59:40  107.621653  109.648285  101.065494
5760  159941 2024-01-01 14:59:45  103.216345  108.493301  103.216345
5761  159941 2024-01-01 14:59:50  108.470554  109.816078  100.851004
5762  159941 2024-01-01 14:59:55  103.645708  109.374885  101.060121
5763  159941 2024-01-01 15:00:00  102.623385  102.623385  102.623385

           close  volume
2882  101.578283     252
2883  103.406804     137
2884  109.062492     236
2885  106.060306     219
2886  100.008762     248
...          ...     ...
5759  101.065494     213
5760  103.748746     278
5761  109.612498     107
5762  101.060121     281
5763  102.623385      64

[2882 rows x 7 columns]
        code                date        open        high         low  \
5764  510050 2024-01-01 09:30:00  109.384947  109.384947  100.891558
5765  510050 2024-01-01 09:30:05  105.258655  108.869010  102.821150
5766  510050 2024-01-01 09:30:10  101.045894  109.784158  101.045894
5767  510050 2024-01-01 09:30:15  105.847123  109.570577  100.555888
5768  510050 2024-01-01 09:30:20  108.354756  109.150195  101.315761
...      ...                 ...         ...         ...         ...
8641  510050 2024-01-01 14:59:40  105.834630  106.824665  100.545803
8642  510050 2024-01-01 14:59:45  108.695188  109.164795  100.671160
8643  510050 2024-01-01 14:59:50  102.258368  109.074757  100.699939
8644  510050 2024-01-01 14:59:55  108.909012  108.909012  100.433971
8645  510050 2024-01-01 15:00:00  108.864708  108.864708  108.864708

           close  volume
5764  100.891558     256
5765  102.821150     144
5766  101.617751     180
5767  101.016135     204
5768  103.564572     188
...          ...     ...
8641  105.155183     243
8642  107.075259     238
8643  105.184776     297
8644  100.433971     116
8645  108.864708      99

[2882 rows x 7 columns]
         code                date        open        high         low  \
8646   518880 2024-01-01 09:30:00  104.820917  108.129601  100.916099
8647   518880 2024-01-01 09:30:05  103.969706  109.317349  102.052533
8648   518880 2024-01-01 09:30:10  104.844549  105.726448  100.058603
8649   518880 2024-01-01 09:30:15  108.161848  108.161848  101.728979
8650   518880 2024-01-01 09:30:20  104.869339  106.370148  100.709648
...       ...                 ...         ...         ...         ...
11523  518880 2024-01-01 14:59:40  109.027898  109.803560  101.416578
11524  518880 2024-01-01 14:59:45  106.623890  108.217638  101.008764
11525  518880 2024-01-01 14:59:50  103.086865  108.896717  103.086865
11526  518880 2024-01-01 14:59:55  103.614110  109.858508  102.979709
11527  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

            close  volume
8646   106.521618     227
8647   107.112448     144
8648   104.224244     319
8649   104.344640     308
8650   100.709648     240
...           ...     ...
11523  109.803560     187
11524  108.217638     196
11525  107.512691     233
11526  102.979709     379
11527  100.784758       1

[2882 rows x 7 columns]
       code  level_1                date        open       close        high  \
0    159915        0 2024-01-01 09:30:00  108.281930  100.148578  109.951549
1    159915        1 2024-01-01 09:35:00  101.190896  103.968200  109.983396
2    159915        2 2024-01-01 09:40:00  103.748235  106.559753  109.990869
3    159915        3 2024-01-01 09:45:00  106.635980  105.343275  109.944853
4    159915        4 2024-01-01 09:50:00  107.034955  106.529090  109.951516
..      ...      ...                 ...         ...         ...         ...
191  518880       44 2024-01-01 14:39:55  106.573255  102.520820  109.984553
192  518880       45 2024-01-01 14:44:55  109.740178  109.795234  109.928223
193  518880       46 2024-01-01 14:49:55  100.733870  104.931846  109.976939
194  518880       47 2024-01-01 14:54:55  109.808354  107.512691  109.964771
195  518880       48 2024-01-01 14:59:55  103.614110  100.784758  109.858508

            low  volume
0    100.015167   14181
1    100.057096   15412
2    100.004234   15832
3    100.005239   15327
4    100.049781   15607
..          ...     ...
191  100.013882   15013
192  100.006481   15144
193  100.007135   15281
194  100.058755   14891
195  100.784758     380

[196 rows x 8 columns]

In [29]:
new_5m_df

,code,level_1,date,open,close,high,low,volume
0,159915,0,2024-01-01 09:30:00,108.281930,100.148578,109.951549,100.015167,14181
1,159915,1,2024-01-01 09:35:00,101.190896,103.968200,109.983396,100.057096,15412
2,159915,2,2024-01-01 09:40:00,103.748235,106.559753,109.990869,100.004234,15832
3,159915,3,2024-01-01 09:45:00,106.635980,105.343275,109.944853,100.005239,15327
4,159915,4,2024-01-01 09:50:00,107.034955,106.529090,109.951516,100.049781,15607
...,...,...,...,...,...,...,...,...
191,518880,44,2024-01-01 14:39:55,106.573255,102.520820,109.984553,100.013882,15013
192,518880,45,2024-01-01 14:44:55,109.740178,109.795234,109.928223,100.006481,15144
193,518880,46,2024-01-01 14:49:55,100.733870,104.931846,109.976939,100.007135,15281
194,518880,47,2024-01-01 14:54:55,109.808354,107.512691,109.964771,100.058755,14891
195,518880,48,2024-01-01 14:59:55,103.614110,100.784758,109.858508,100.784758,380

In [31]:
# new_5m_df[new_5m_df["code"] == "159915"]["close"].plot()

In [40]:
new_1min_df = agg_klines_to_klines_v2(new_5s_df_all, freq="1min")

       code            datetime        open        high         low  \
0    159915 2024-01-01 09:30:00  108.281930  109.918832  100.986174
1    159915 2024-01-01 09:31:00  106.189841  109.951549  100.126325
2    159915 2024-01-01 09:32:00  103.898165  109.593650  100.171301
3    159915 2024-01-01 09:33:00  105.873349  109.930893  100.015167
4    159915 2024-01-01 09:34:00  108.755879  109.885800  100.148578
..      ...                 ...         ...         ...         ...
963  518880 2024-01-01 14:56:00  104.890689  109.802939  100.058755
964  518880 2024-01-01 14:57:00  100.500252  109.787261  100.194953
965  518880 2024-01-01 14:58:00  106.164687  109.964771  100.086899
966  518880 2024-01-01 14:59:00  103.675244  109.858508  100.571175
967  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

          close  volume
0    106.293320    3135
1    102.702859    2425
2    100.645316    2857
3    108.234478    3028
4    100.148578    2736
..          ...     ...
963  104.570016    3280
964  108.687680    2850
965  101.040425    2925
966  102.979709    3344
967  100.784758       1

[968 rows x 7 columns]

In [41]:
new_3min_df = agg_klines_to_klines_v2(new_5s_df_all, freq="3min")

       code            datetime        open        high         low  \
0    159915 2024-01-01 09:30:00  108.281930  109.951549  100.126325
1    159915 2024-01-01 09:33:00  105.873349  109.930893  100.015167
2    159915 2024-01-01 09:36:00  102.780226  109.983396  100.097172
3    159915 2024-01-01 09:39:00  101.496587  109.977363  100.057096
4    159915 2024-01-01 09:42:00  107.948428  109.990869  100.004234
..      ...                 ...         ...         ...         ...
323  518880 2024-01-01 14:48:00  101.596969  109.976939  100.231936
324  518880 2024-01-01 14:51:00  106.498984  109.890346  100.007135
325  518880 2024-01-01 14:54:00  101.785838  109.897896  100.058755
326  518880 2024-01-01 14:57:00  100.500252  109.964771  100.086899
327  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

          close  volume
0    100.645316    8417
1    108.037717    8653
2    106.929200    9124
3    104.271265   10100
4    106.559753    9131
..          ...     ...
323  107.701028    9191
324  104.710198    9313
325  104.570016    8868
326  102.979709    9119
327  100.784758       1

[328 rows x 7 columns]

In [42]:
new_5mim_df = agg_klines_to_klines_v2(new_5s_df_all, freq="5min")

       code            datetime        open        high         low  \
0    159915 2024-01-01 09:30:00  108.281930  109.951549  100.015167
1    159915 2024-01-01 09:35:00  101.190896  109.983396  100.057096
2    159915 2024-01-01 09:40:00  103.748235  109.990869  100.004234
3    159915 2024-01-01 09:45:00  106.635980  109.944853  100.005239
4    159915 2024-01-01 09:50:00  107.034955  109.951516  100.049781
..      ...                 ...         ...         ...         ...
195  518880 2024-01-01 14:40:00  101.336930  109.984553  100.013882
196  518880 2024-01-01 14:45:00  101.033617  109.928223  100.006481
197  518880 2024-01-01 14:50:00  104.357534  109.976939  100.007135
198  518880 2024-01-01 14:55:00  104.390404  109.964771  100.058755
199  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

          close  volume
0    100.148578   14181
1    103.968200   15412
2    106.559753   15832
3    105.343275   15327
4    106.529090   15607
..          ...     ...
195  104.621081   14907
196  100.838254   15221
197  107.354672   15133
198  102.979709   15189
199  100.784758       1

[200 rows x 7 columns]

In [43]:
new_15mim_df = agg_klines_to_klines_v2(new_5s_df_all, freq="15min")

      code            datetime        open        high         low  \
0   159915 2024-01-01 09:30:00  108.281930  109.990869  100.004234
1   159915 2024-01-01 09:45:00  106.635980  109.983550  100.001548
2   159915 2024-01-01 10:00:00  105.009032  109.991803  100.009960
3   159915 2024-01-01 10:15:00  101.242598  109.999759  100.006505
4   159915 2024-01-01 10:30:00  100.689183  109.998179  100.001945
..     ...                 ...         ...         ...         ...
67  518880 2024-01-01 14:00:00  104.345361  109.998027  100.024642
68  518880 2024-01-01 14:15:00  109.177029  109.992368  100.004032
69  518880 2024-01-01 14:30:00  101.419830  109.996758  100.003442
70  518880 2024-01-01 14:45:00  101.033617  109.976939  100.006481
71  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

         close  volume
0   106.559753   45425
1   106.617953   45865
2   108.066213   46288
3   104.811198   45015
4   102.676304   44496
..         ...     ...
67  102.725443   46466
68  104.837782   45895
69  104.621081   45865
70  102.979709   45543
71  100.784758       1

[72 rows x 7 columns]

In [44]:
new_15S_df = agg_klines_to_klines_v2(new_5s_df_all, freq="15S")

        code            datetime        open        high         low  \
0     159915 2024-01-01 09:30:00  108.281930  109.697448  100.986174
1     159915 2024-01-01 09:30:15  109.268868  109.268868  101.149417
2     159915 2024-01-01 09:30:30  109.918832  109.918832  101.006673
3     159915 2024-01-01 09:30:45  106.676883  109.217639  101.757676
4     159915 2024-01-01 09:31:00  106.189841  109.916247  101.097781
...      ...                 ...         ...         ...         ...
3843  518880 2024-01-01 14:59:00  103.675244  108.442058  100.571175
3844  518880 2024-01-01 14:59:15  108.107696  109.784511  100.742289
3845  518880 2024-01-01 14:59:30  106.601769  109.803560  101.416578
3846  518880 2024-01-01 14:59:45  106.623890  109.858508  101.008764
3847  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

           close  volume
0     109.697448     667
1     106.767949     909
2     101.061850     898
3     106.293320     661
4     101.541890     601
...          ...     ...
3843  107.050249     796
3844  102.667487     965
3845  109.803560     775
3846  102.979709     808
3847  100.784758       1

[3848 rows x 7 columns]

In [45]:
new_30S_df = agg_klines_to_klines_v2(new_5s_df_all, freq="30S")

        code            datetime        open        high         low  \
0     159915 2024-01-01 09:30:00  108.281930  109.697448  100.986174
1     159915 2024-01-01 09:30:30  109.918832  109.918832  101.006673
2     159915 2024-01-01 09:31:00  106.189841  109.916247  101.003089
3     159915 2024-01-01 09:31:30  107.762900  109.951549  100.126325
4     159915 2024-01-01 09:32:00  103.898165  109.576168  100.171301
...      ...                 ...         ...         ...         ...
1923  518880 2024-01-01 14:58:00  106.164687  109.836173  100.170089
1924  518880 2024-01-01 14:58:30  100.086899  109.964771  100.086899
1925  518880 2024-01-01 14:59:00  103.675244  109.784511  100.571175
1926  518880 2024-01-01 14:59:30  106.601769  109.858508  101.008764
1927  518880 2024-01-01 15:00:00  100.784758  100.784758  100.784758

           close  volume
0     106.767949    1576
1     106.293320    1559
2     108.257222    1150
3     102.702859    1275
4     107.393339    1638
...          ...     ...
1923  106.700065    1280
1924  101.040425    1645
1925  102.667487    1761
1926  102.979709    1583
1927  100.784758       1

[1928 rows x 7 columns]